// Font colors variables
$color-white: white;
$color-black: black;
$color-grey: rgba(black, 0.5);

// Colors
$color-blue-light: #f1fbff;
// $color-blue-light: rgba(#5faada, 0.4);
$color-highlight: #30366c;
