.aside {
  grid-column: 1 / end;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-image: url("../img/landscape-light.svg"), url("../img/sky.svg");

  background-size: cover;
  background-position: 50% 50%;

  transition: background-image 0.5s;

  @include respond(tab-land) {
    grid-column: 7 / 10;
    grid-row: 1/3;
    height: 55rem;
    width: 35rem;
  }
}
