.aside {
  grid-column: 1 / end;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-image: url("../img/sky.svg");
  // background-image: url("../img/windows_wallpaper.jpg");
  background-size: cover;
  background-position: 50% 50%;

  @include respond(tab-land) {
    grid-column: 7 / 10;
  }
}
