.selected-weather__container {
  grid-column: 1 / end;
  width: 100vw;
  height: 15rem;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
