.select-place {
  display: none;

  @include respond(tab-land) {
    grid-column: 1/7;
    grid-row: 1/2;

    height: 29rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: $color-blue-light;
    padding: 2rem 2rem 1rem 2rem;

    &__search {
      display: flex;
      align-items: center;
      & input {
        font-family: inherit;
        padding: 0.6rem;

        border-radius: 10px;
        border: none;
      }

      & i {
        margin-left: 1rem;
        font-size: 2rem;
      }
    }

    &__title {
      font-size: 2rem;
      & h2 {
        font-weight: 100;
      }

      & span {
        font-weight: 600;
      }
    }

    &__cities {
      height: 13rem;
      display: flex;
      justify-content: space-evenly;
    }

    &__city {
      &-image {
        height: 14rem;
        width: 10rem;

        img {
          height: 14rem;
          max-width: 100%;
          border-radius: 20px;
          object-fit: cover;

          transition: all 0.3s;
        }
        .active {
        }
      }

      &-name {
        text-align: center;

        & span {
          font-weight: 600;
        }
      }
    }
  }
}
