.weather-information {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-blue-light;

  &__period {
    display: flex;
    width: 100vw;
    padding: 1rem 2rem;
    justify-content: space-around;

    font-size: 1.2rem;
    font-weight: 600;

    color: $color-grey;

    & .active {
      color: black;
    }
  }

  &__details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  &__details {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-around;
    width: 100vw;

    font-size: 1.1rem;
  }

  &-date {
    width: 5.5rem;
  }

  &-sky,
  &-rain,
  &-min,
  &-max {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 2rem;
    }
  }

  @include respond(tab-land) {
    grid-column: 1 / 7;
    grid-row: 2/3;

    height: 26rem;
    width: 70rem;

    &__period {
      width: 100%;
      justify-content: flex-start;
      padding: 0 2rem 1rem 2;

      & span {
        margin-right: 8rem;
      }
    }

    &__details-container {
      padding-left: 2rem;
      width: 100%;
      height: 20rem;
    }
    &__details {
      width: 100%;
      padding: 0;
      padding-bottom: 0.5rem;
      justify-content: flex-start;

      & div {
        width: 8rem;
        margin-right: 4rem;
      }
    }
  }
}
