.city-selector {
  grid-column: 1 / end;

  height: 20rem;

  padding: 1rem 0rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-land) {
    display: none;
  }
}
