.nav {
  grid-column: 1 / end;
  height: 7rem;
  padding-top: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  #logo {
    height: 4rem;
    padding: 0.2rem;
    transition: all 1s;
    cursor: pointer;
    & img {
      transform: rotate(180deg);
      height: 100%;
      transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  #logo:hover {
    transform: scale(1.2);
  }

  @include respond(tab-land) {
    height: 5rem;

    padding: 5rem 0 0 0;

    & #searchMobDiv {
      display: none;
    }
  }
}
