.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-family: inherit;

  padding: 0.6rem;
  border-radius: 10px;
  border: none;

  transition: all 0.5s;

  &__icon {
    font-size: 2rem;
    cursor: pointer;
  }

  &__input {
    font-family: inherit;
    border: none;
    outline: black;

    border-radius: 10px;
    width: 0;
    padding: 0.5rem 0;

    transition: all 0.5s;

    &--open {
      margin-left: 0.5rem;
      padding: 0.5rem 0 0.5rem 1rem;
      width: 20rem;

      transition: all 0.5s;
    }
  }
}
