.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-family: inherit;
  padding: 0.6rem;

  border-radius: 10px;
  border: none;

  transition: all 0.5s;

  &__icon {
    font-size: 2rem;
  }

  &__input {
    font-family: inherit;
    border-radius: 10px;
    border: none;
    width: 0;
    transition: width 0.5s;

    &--open {
      margin-left: 0.5rem;
      transition: all 0.5s;

      padding: 0.5rem;
      width: 20rem;
    }
  }
}
