.selected-weather__date {
  display: flex;

  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: left;
  width: 11.5rem;

  &-img {
    width: 5rem;

    & img {
      width: 100%;
    }
  }
  &-name {
    font-size: 2rem;
  }
}
