.svgbg {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;

  overflow: hidden;

  & svg {
    object-fit: cover;

    height: 90vh;
  }
}

// .cloud-1 {
//   animation: hideshow 90s linear infinite;
// }
.cloud-2 {
  animation: hideshow 5s linear infinite;
}
// .cloud-3 {
//   animation: hideshow 90s linear infinite;
// }
// .cloud-4 {
//   animation: hideshow 90s linear infinite;
// }
// .cloud-5 {
//   animation: hideshow 90s linear infinite;
// }
// .cloud-6 {
//   animation: hideshow 90s linear infinite;
// }
// .cloud-7 {
//   animation: hideshow 90s linear infinite;
// }
// .cloud-8 {
//   animation: hideshow 90s linear infinite;
// }

@keyframes hideshow {
  0% {
    transform: translateX(0%);
  }

  70% {
    transform: translateX(-100%);
  }
  71% {
    transform: translateY(-200%);
  }
  72% {
    transform: translateY(0);
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0);
  }
}
