*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 90%;
  }
}

body {
  box-sizing: border-box;

  @include respond(tab-land) {
    display: grid;

    height: 100vh;
    width: 100vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::selection {
  background: $color-highlight; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-highlight; /* Gecko Browsers */
}
