body {
  font-family: "Open Sans", sans-serif;
}

// Navigation font
.nav {
  font-size: 1.4rem;
  font-weight: 600;
}

// Aside font color
.aside {
  color: white;
}

.heading--3 {
  font-size: 1.2rem;
  font-weight: 500;

  font-family: "Roboto";
}
